@import "tailwindcss";

@theme {
  /* Primary */
  --color-primary-50: #ffffff;
  --color-primary-100: #fdf0e9;
  --color-primary-200: #fce2d4;
  --color-primary-300: #fad3bf;
  --color-primary-400: #f9c5aa;
  --color-primary-500: #f06e2b; /* Base */
  --color-primary-600: #d86326;
  --color-primary-700: #c05822;
  --color-primary-800: #a84d1e;
  --color-primary-900: #904219;

  --color-background: #ffffff;
  --color-foreground: #1f1c1ae6;

  /* Secondary */
  --color-secondary: #000000;

  /* Fonts */
  --font-roboto: "Roboto";
  --font-roboto-slab: "Roboto Slab";

  --font-extralight: 100;
}

@layer utilities {
  .main-down-arrow-1 {
    stroke: #fff;
    width: 38px;
    height: 38px;
    -webkit-transform: translate(0.707px, 27.707px) rotate(-45deg) !important;
    transform: translate(0.707px, 27.707px) rotate(-45deg) !important;
    fill: none;
    stroke-miterlimit: 10;
  }
}
